extends ../layouts/base
block styles
  link(rel="stylesheet", href="/css/login.css")
block content
  div.login
    form(
      action="iniciar-sesion"
      method="post"
    )
      h2 Bienvenido de nuevo
      div.login--container-inputs
        div.login--container--inputs-info.style_input
          label(for="email") Correo
          input(
            type="email"
            name="email"
            placeholder="Correo"
          )
        div.login--container--inputs-info.style_input
          label(for="password") Contraseña
          input(
            type="password"
            name="password"
            placeholder="Contraseña"
          )
      div.login--container--container_button
        button Iniciar sesion
        a.lostPassword ¿Olvidaste tu contraseña?
      div.login--container--container_button
        button
          a(href="/usuario/registrarse" class="button_open_registro") Registrate
        p ¿Aun no tienes una cuenta?
